.img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
.profile{
    border: 1px solid lightgrey;
    text-align: center;
    width: 35%;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
}